# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [1]:
# import libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas numpy matplotlib seaborn

Collecting pandas
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
                                              0.0/11.0 MB ? eta -:--:--
                                              0.1/11.0 MB 2.4 MB/s eta 0:00:05
     -                                        0.4/11.0 MB 4.0 MB/s eta 0:00:03
     --                                       0.8/11.0 MB 5.6 MB/s eta 0:00:02
     ----                                     1.4/11.0 MB 7.8 MB/s eta 0:00:02
     -------                                  2.0/11.0 MB 8.7 MB/s eta 0:00:02
     ---------                                2.7/11.0 MB 9.4 MB/s eta 0:00:01
     -----------                              3.3/11.0 MB 10.0 MB/s eta 0:00:01
     --------------                           3.9/11.0 MB 10.4 MB/s eta 0:00:01
     ----------------                         4.4/11.0 MB 10.5 MB/s eta 0:00:01
     ------------------                       5.0/11.0 MB 10.7 MB/s eta 0:00:01
     --------------------                     5.7/11.0 MB 11.0 MB/s eta 0:00:01
     ----------------------                   6.3/11.0 MB 11.2 MB/s eta 0:00:01
     ------------------------                 6.9/11.0 MB 11.3 MB/s eta 0:00:01
     ---------------------------              7.5/11.0 MB 11.4 MB/s eta 0:00:01
     -----------------------------            8.1/11.0 MB 11.5 MB/s eta 0:00:01
     -------------------------------          8.7/11.0 MB 11.6 MB/s eta 0:00:01
     ---------------------------------        9.3/11.0 MB 11.7 MB/s eta 0:00:01
     ----------------------------------       9.5/11.0 MB 11.8 MB/s eta 0:00:01
     -----------------------------------      9.8/11.0 MB 11.0 MB/s eta 0:00:01
     -------------------------------------   10.5/11.0 MB 11.3 MB/s eta 0:00:01
     --------------------------------------  11.0/11.0 MB 11.5 MB/s eta 0:00:01
     --------------------------------------  11.0/11.0 MB 11.5 MB/s eta 0:00:01
     --------------------------------------- 11.0/11.0 MB 10.6 MB/s eta 0:00:00
Collecting numpy
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
                                              0.0/15.5 MB ? eta -:--:--
     -                                        0.6/15.5 MB 12.2 MB/s eta 0:00:02
     ---                                      1.2/15.5 MB 12.7 MB/s eta 0:00:02
     ----                                     1.7/15.5 MB 13.7 MB/s eta 0:00:02
     -----                                    2.3/15.5 MB 12.0 MB/s eta 0:00:02
     ------                                   2.7/15.5 MB 11.2 MB/s eta 0:00:02
     --------                                 3.3/15.5 MB 11.6 MB/s eta 0:00:02
     ---------                                3.8/15.5 MB 11.6 MB/s eta 0:00:02
     -----------                              4.5/15.5 MB 12.0 MB/s eta 0:00:01
     -------------                            5.2/15.5 MB 12.2 MB/s eta 0:00:01
     --------------                           5.7/15.5 MB 12.1 MB/s eta 0:00:01
     ----------------                         6.3/15.5 MB 12.3 MB/s eta 0:00:01
     -----------------                        6.9/15.5 MB 12.3 MB/s eta 0:00:01
     -------------------                      7.6/15.5 MB 12.4 MB/s eta 0:00:01
     ---------------------                    8.2/15.5 MB 12.5 MB/s eta 0:00:01
     ----------------------                   8.8/15.5 MB 12.6 MB/s eta 0:00:01
     ------------------------                 9.4/15.5 MB 12.5 MB/s eta 0:00:01
     -------------------------               10.0/15.5 MB 12.6 MB/s eta 0:00:01
     --------------------------              10.6/15.5 MB 12.6 MB/s eta 0:00:01
     ---------------------------             11.0/15.5 MB 12.4 MB/s eta 0:00:01
     -----------------------------           11.7/15.5 MB 12.4 MB/s eta 0:00:01
     ------------------------------          12.3/15.5 MB 12.6 MB/s eta 0:00:01
     --------------------------------        12.9/15.5 MB 12.8 MB/s eta 0:00:01
     ---------------------------------       13.5/15.5 MB 12.9 MB/s eta 0:00:01
     -----------------------------------     14.1/15.5 MB 12.8 MB/s eta 0:00:01
     -------------------------------------   14.8/15.5 MB 13.1 MB/s eta 0:00:01
     --------------------------------------  15.3/15.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------  15.5/15.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------  15.5/15.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------- 15.5/15.5 MB 11.3 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.7.3-cp311-cp311-win_amd64.whl (7.5 MB)
                                              0.0/7.5 MB ? eta -:--:--
     --                                       0.5/7.5 MB 15.0 MB/s eta 0:00:01
     ------                                   1.2/7.5 MB 14.5 MB/s eta 0:00:01
     ---------                                1.8/7.5 MB 13.9 MB/s eta 0:00:01
     ------------                             2.4/7.5 MB 13.8 MB/s eta 0:00:01
     ---------------                          3.0/7.5 MB 13.6 MB/s eta 0:00:01
     -------------------                      3.6/7.5 MB 13.4 MB/s eta 0:00:01
     ----------------------                   4.2/7.5 MB 13.4 MB/s eta 0:00:01
     -------------------------                4.8/7.5 MB 13.2 MB/s eta 0:00:01
     ----------------------------             5.4/7.5 MB 13.3 MB/s eta 0:00:01
     -------------------------------          6.0/7.5 MB 13.2 MB/s eta 0:00:01
     -----------------------------------      6.6/7.5 MB 13.3 MB/s eta 0:00:01
     --------------------------------------   7.3/7.5 MB 13.3 MB/s eta 0:00:01
     ---------------------------------------  7.5/7.5 MB 13.3 MB/s eta 0:00:01
     ---------------------------------------- 7.5/7.5 MB 12.0 MB/s eta 0:00:00
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
                                              0.0/293.3 kB ? eta -:--:--
     -------------------------------------- 293.3/293.3 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\minhl\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
                                              0.0/502.5 kB ? eta -:--:--
     ------------------------------------  501.8/502.5 kB 15.9 MB/s eta 0:00:01
     ------------------------------------- 502.5/502.5 kB 10.7 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.7 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
                                              0.0/470.9 kB ? eta -:--:--
     ------------------------------------  460.8/470.9 kB 14.5 MB/s eta 0:00:01
     -------------------------------------- 470.9/470.9 kB 9.8 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.42.1-cp311-cp311-win_amd64.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     ------------                             0.7/2.1 MB 13.7 MB/s eta 0:00:01
     -----------------------                  1.3/2.1 MB 13.4 MB/s eta 0:00:01
     -----------------------------------      1.9/2.1 MB 13.1 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 11.2 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
                                              0.0/56.1 kB ? eta -:--:--
     ---------------------------------------- 56.1/56.1 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\minhl\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\minhl\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (10.0.0)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
                                              0.0/103.1 kB ? eta -:--:--
     -------------------------------------- 103.1/103.1 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\minhl\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pyparsing, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.1 kiwisolver-1.4.5 matplotlib-3.7.3 numpy-1.25.2 pandas-2.1.0 pyparsing-3.1.1 pytz-2023.3.post1 seaborn-0.12.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\minhl\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [4]:
# your code here
temp = pd.read_csv('Temp_States.csv')

#### Print `temp`.

In [5]:
# your code here
print(temp)

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [7]:
# your code here
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

In [ ]:
"""
your comments here
"""

#### Select the rows where state is New York.

In [8]:
# your code here
temp[temp['State'] == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [10]:
# your code here
new_york_data = temp[temp['State'] == 'New York']
new_york_data['Temperature'].mean()

10.74074074074074

#### Which states and cities have a temperature above 15 degrees Celsius?

In [11]:
# your code here
temp[temp['Temperature'] > 15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [12]:
# your code here
above_15_degrees = temp[temp['Temperature'] > 15]
above_15_degrees['City']

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [14]:
# your code here

between_15_and_20_degrees = temp[(temp['Temperature'] > 15) & (temp['Temperature'] < 20)]

selected_cities = between_15_and_20_degrees['City']

selected_cities

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and standard deviation of the temperature of each state.

In [15]:
# your code here
grouped_by_state = temp.groupby('State')

# mean and std
grouped_by_state['Temperature'].mean()
grouped_by_state['Temperature'].std()

State
Connecticut    1.964186
New Jersey     1.571348
New York       8.133404
Name: Temperature, dtype: float64

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### What's the average salary in this company?

In [ ]:
# your code here

#### What's the highest salary?

In [ ]:
# your code here

#### What's the lowest salary?

In [ ]:
# your code here

#### Who are the employees with the lowest salary?

In [ ]:
# your code here

#### Find all the information about an employee called David.

In [ ]:
# your code here

#### Could you return only David's salary?

In [ ]:
# your code here

#### Print all the rows where job title is associate.

In [ ]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here

In [ ]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here

####  What is the average salary per title?

In [ ]:
# your code here

####  Find the salary quartiles.

In [ ]:
# your code here

#### Is the mean salary different per gender?

In [ ]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here